* {
    margin: 0px;
    padding: 0px;
    color: aliceblue;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(26, 15, 75);
    font-family: 'Signika Negative', sans-serif;
    ;
}

h1 {
    filter: drop-shadow(2px 2px 2px black);
}

/************************************************************************************HEADER*****************************************************************************/
.myPortfolio {
    display: inline-block;
    margin-left: 20px;
    font-size: 150%;
    font-family: "Merienda", cursive;
}

header {
    z-index: 10;
    position: fixed;
    right: 0px;
    left: 0px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.HeaderObj {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    visibility: hidden;
}

.HeaderObj:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    width: 0px;
    background: blue;
    border-radius: 50px;
    transition: 0.3s ease;
}

.HeaderObj:hover:before {
    width: 100%;
}

.HeaderObjGroup {
    font-family: monospace;
    margin-right: 40px;
    width: 15cm;
    display: flex;
    justify-content: space-between;
}

.ToHome {
    display: none;
}