/***********************************************************************************SECTION 1***************************************************************************/
#profile {
    position: relative;
    display: flex;
    gap: 5mm;
    justify-content: center;
    align-items: center;
    height: 695px;
    overflow: hidden;
}

.myPhoto {
    padding: 2px;
    height: 200px;
    border: 2mm;
    border-radius: 50%;
    border: 10px groove rgb(104, 147, 204);
    box-shadow: 0 0 5px rgb(29, 76, 142);
}

.myName h2 {
    text-align: center;
    filter: drop-shadow(2px 2px 2px black);
    font-size: 28px;
}

.profileContent {
    display: flex;
    flex-direction: column;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Button1Group{
    gap: 5px;
}
.Button1 {
    border: 3px solid black;
    box-shadow: 0 0 5px rgb(43, 43, 3);
    width: 40mm;
    font-size: 14.5px;
    background-color: rgb(104, 147, 204);
    color: black;
    border-radius: 20px;
    font-family: "Kode Mono", monospace;
    font-weight: 900;
    height: 40px;
}

.Button1:hover {
    transition: 0.4s;
    box-shadow: 0 0 5px lightyellow;
}

.LinkedinGithub {
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.GithubIcon {
    border: 2px solid rgb(238, 232, 232);
    height: 30px;
    border-radius: 50%;
}

.GithubIcon:hover {
    transform: scale(1.1, 1.1);
    transition: 0.7s;
}

.GithubIcon img {
    border-radius: 50%;
}

.LinkedinIcon {
    border: 2px solid rgb(239, 239, 229);
    height: 30px;
    border-radius: 50%;
}

.LinkedinIcon:hover {
    transform: scale(1.1, 1.1);
    transition: 0.7s;
}

.moon {
    position: absolute;
    top: 100px;
    left: 50px;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px whitesmoke;
    z-index: -5;
}

.frontcloud {
    position: absolute;
    bottom: -2px;
    left: 0px;
    animation: slideA 70s infinite;
    z-index: -1;
}

.frontcloud2 {
    position: absolute;
    bottom: -2px;
    z-index: -1;
    left: 1696px;
    animation: slideA 70s infinite;
}

.middlecloud {
    position: absolute;
    bottom: 19px;
    left: -170px;
    animation: slideB 80s infinite;
    z-index: -2;
}

.middlecloud2 {
    position: absolute;
    bottom: 21px;
    left: 1525px;
    animation: slideB 80s infinite;
    z-index: -2;
}

.lastcloud {
    position: absolute;
    bottom: 45px;
    left: 0px;
    animation: slideA 100s infinite;
    z-index: -3;
}

.lastcloud2 {
    position: absolute;
    bottom: 45px;
    left: 1650px;
    animation: slideA 100s infinite;
    z-index: -3;
}

.star {
    position: absolute;
    background-color: white;
    height: 2px;
    width: 2px;
    box-shadow: 0px 0px 2px white;
    z-index: -10;
    rotate: 45deg;
}

.star1 {
    top: 100px;
    left: 50px;
}

.star2 {
    top: 350px;
    left: 24%
}

.star3 {
    right: 10%;
    top: 20%;
}

.star4 {
    top: 50%;
    left: 17%;
}

.star5 {
    animation: falling 5.5s infinite;
    animation-delay: 9s;
    top: 0%;
    right: 0%;
}

.star6 {
    right: 15%;
}

.star7 {
    right: 23%;
    top: 39%;
}

.star8 {
    top: 35%;
}

.star9 {
    top: 11%;
    right: 40%;
}

.star10 {
    top: 17%;
    right: 28%;
}

.star11 {
    left: 35%;
    top: 18%;
}

.star12 {
    left: 55%;
    top: 32%;
}

.star13 {
    top: 72%;
    left: 15%;
}

.star14 {
    top: 70%;
    right: 39%;
}

.star15 {
    top: 65%;
    right: 15%;
}

.star16 {
    top: 50%;
    right: 15%;
}

.star17 {
    top: 40%;
    right: 5%;
}

.star18 {
    top: 74%;
    right: 7%;
}

.star19 {
    top: 60%;
    right: 95%;
}

.star20 {
    animation: falling 5s infinite;
    animation-delay: 1s;
    top: 0%;
    right: 25%;
}

.star21 {
    top: 63%;
    right: 80%;
}

.star22 {
    top: 55%;
    right: 98%;
}

.star23 {
    top: 35%;
    right: 50%;
}

.star24 {
    top: 65%;
    right: 55%;
}

.star25 {
    animation: falling 7s infinite;
    animation-delay: 3s;
    top: 0%;
    right: 60%;
}

.star26 {
    top: 75%;
    right: 65%;
}

.star27 {
    top: 0%;
    right: 5%;
    animation: falling 4s infinite;
    animation-delay: 6s;
}

.star28 {
    top: 0%;
    right: 69%;
    animation: falling 4s infinite;
    animation-delay: 1.5s;
}

.star29 {
    top: 0%;
    right: -10%;
    animation: falling 6s infinite;
    animation-delay: 2s;
}

.star30 {
    top: 0%;
    right: 37%;
    animation: falling 5s infinite;
    animation-delay: 9s;
}

.star31 {
    top: 0%;
    right: -25%;
    animation: falling 7s infinite;
}

.star32 {
    top: 16%;
    right: 50%;
}

.star33 {
    top: 0%;
    right: 43%;
    animation: falling 5.7s infinite;
}

@keyframes slideA {
    50% {
        transform: translate(-25%);
    }

    100% {
        transform: translate(0%);
    }
}

@keyframes slideB {
    50% {
        transform: translate(10%);
    }

    100% {
        transform: translate(0%);
    }
}

@keyframes falling {
    to {
        transform: translateY(1250px);
    }
}

.homeItem, .Button1, .LinkedinIcon, .GithubIcon{
    visibility: hidden;
}